*{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
    /* outline:1px solid pink; */
}

.estilo_bloque_1{
    width: 530px;
    min-height: 30px;
    background-color: #7a9dbb;
    padding:15px;
    border-bottom: 5px solid black;
}
.estilo_titulo_1{
    text-align: center;
    display: block;
}
.estilo_boton_reset{
    display: block;
    width: 100px;
    text-align: center;
    background-color: rgb(69, 179, 120);
    color: rgb(0, 0, 0);
    padding: 10px;
    border: 1px solid blue;
    text-decoration: none;
}
.estilo_boton{
    display: inline-block;
    width: 100px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    border: 1px solid blue;
    
}
.estilo_parrafo{
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
}
.cambio_red{
    background-color: rgb(216, 100, 100);
}
.estilo_imagen{
    width: 400px;
    text-align: center;
    display: none;
    margin-left: 10%;
}

.estilo_imagen_2{
    width: 200px;
    /* text-align: center; */
    display: block;
    margin-left: 10%;
}